.nav_logo {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    flex-wrap: wrap;
    z-index: 999;
    transition: all 0.5s;
}
.nav__bar__shadow {
    background-color: black;
    color: white;
}

.nav__bar__shadow>i {
    color: white;
}
.Logonetflix{
    height: 100%;
}
.LogOutButton{
    height: 100%;
}