.Cart_box{
    min-height: 580px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #252525;
    justify-content: start;
    align-items: start;
}
.cartCount{
    height: 20px;
    width: 100%;
    background-color: #252525;
}
.cart_Movies {
    height: 310px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
}
.removeItem{
    background-color: red;
    color: white;
    border: none;
    font-weight: 500;
}